body {
  background-color: LightGray;
}

.NavBarLogo {
 float: left;
 height: 5em;
 width: 5em;
}

nav {
  background-color: LightGray;
  padding-bottom: 6em;
  border-bottom: solid 1px;
}

.navButton {
  display: block;
  float: right;
  margin-right: 5em;
  font-size: 2em;
  font-weight: bolder;
  font-family: Helvetica Neue;
}

nav li {
  border: dashed 1px gray;
}

nav a {
  color: gray;
  text-decoration: none
}

.navButton:hover {
  cursor: pointer;
}
