body {
  background-color: LightGray;
}

.NavBarLogo {
 float: left;
 height: 5em;
 width: 5em;
}

nav {
  background-color: LightGray;
  padding-bottom: 6em;
  border-bottom: solid 1px;
}

.navButton {
  float: right;
  margin-right: 3em;
  font-weight: bolder;
  font-size: 3em;
  font-family: Helvetica Neue;
}

.navButton:hover {
  cursor: pointer;
}
