footer {
  background-color: lightgray;
  margin-top: 5em;
  padding: 1em;
  color: gray;
  border-radius: 1.5rem;
  text-align: center;
}

.orderButton {
  background-color: #37d100;
  display: inline-block;
  padding: 5px;
  border-radius: 5em;
}

.orderButton a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

article p {
  background-color: lightgray;
   border-radius: 1.5em;
   padding: 1em 1em 7em 1em;
}

.cookies {
  position: fixed;
  background: rgba(255,170,0,0.5);
  color: #fff;
  opacity: inherit;
  border-radius: 1em;
  padding: 2em 5em 2em 5em;
  bottom: 0;
  right: 0;
  margin: 0 4em 1em 0;
}

section aside {
    background-color: lightgray;
   border-radius: 1.5em;
   padding: 1em;
   overflow-wrap: break-word;
   margin: 0 1em 0 1em;
     flex-grow: 0;
  flex-shrink: 0
}

section {
  display: flex;
  flex-direction: row;
  margin-top: 2em
}

/*Desktop Port*/
.articleImageMobile {
  display: none;
}


@media only screen and (max-device-width: 2560px) {

  
nav {
  background-color: WhiteSmoke;
  border-bottom: solid 1px;

  
}

  .articleImage {
    display: initial;
    margin-top: 1em;
    border-radius: 1em;
    height: 19rem;
    width: 14rem; 
    float: right;
    margin-left: 1em;
  }
  
input {
  visibility: hidden;
}
  
nav img {
  display: none
}

  
nav ul {
    display: flex;
  flex-direction: row;
  justify-content: left;
}

.navButton {
  display: inline-block;
  margin: 0 10% 0 0;
  font-size: 28px;
  font-weight: bold;
  font-family: Helvetica Neue;
}

nav li {
  padding: 10px 15px 10px 15px;
  border: solid 2px gray;
  border-radius: 1em;
}

nav a {
  color: gray;
  text-decoration: none
}

.navButton:hover {
  cursor: pointer;
  }


  /*.articles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;

}

.articles p {
   border-radius: 10px;
    margin: 5% 1% 0 1%;
  background-color: #dee1e4;
  padding: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex: 30%;
}*/

}




@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-color: WhiteSmoke;
  font-family: "Roboto-Mono", monospace;
}

.NavBarLogo {
 float: left;
 height: 5em;
 width: 5em;
    margin-right: 1em;
}

.NavBarLogo:hover {
  cursor: pointer;
}

.logo {
  margin-top: 2em;
  height: 20em;
  width: 20em;
}

header {
/*background-color: lightgray;
  border: solid 2px silver;
  border-radius: 3em;
  padding: 1em*/
margin-bottom: 2em;
}

header h1, header h2, .title {
  font-family: "Roboto Slab", monospace;
  margin-left: 2em;
}



p a {
  text-decoration: none
}
.imageSource {
  margin-top: 1em;
  font-size: 0.5em;
  display: block;
  color: gray
}

.subtitle {
  font-size: 1.5em;
  font-weight: bolder;
}

.quote {
  font-style: italic;
  color: dimgray
}




/* tablet / ipad */
@media only screen 
    and (max-device-width: 810px)  {

  nav {
  background-color: WhiteSmoke;
  border-bottom: solid 1px;

  
}



  
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/*.navButton {
  display: none;
  margin: 0 10% 0 0;
  font-size: 3em;
  font-weight: bold;
  font-family: Helvetica Neue;
}*/

nav .navButton {
  padding: 25px;
  border: solid 4px gray;
  border-radius: 3em;
}

nav a {
  color: gray;
  text-decoration: none
}
  
body {
  background-color: WhiteSmoke;
  font-family: "Roboto-Mono", monospace;
}

.NavBarLogo {
 float: left;
 height: 10em;
 width: 10em;
 margin-right: 3em;
}

.logo {
  margin-top: 2em;
  height: 20em;
  width: 20em;
}


  /*MAKE NEW ARTICLE SYSTEM HERE*/

header {
/*background-color: lightgray;
  border: solid 2px silver;
  border-radius: 3em;
  padding: 1em*/
margin-bottom: 6em;
}
  
  header h1, header h2, .title {
  font-family: "Roboto Slab", monospace;
  margin-left: 2em;
  font-weight: bold;
}

  header h1
  {
    font-size: 4em;
  }

  header h2
  {
    font-size: 3em;
  }


/*.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles p {
  border-radius: 1em;
  background-color: #DFE1E4;
  padding: 1em;
  font-size: 2em;
  margin: 5% 1% 0 1%;
  overflow-wrap: break-word;
  }*/

/*.test {
  opacity: 0;
  display: block;
  background-color: red;
  }
  

.hamburgermenu:target
  {
    opacity: initial;
    display: block;
  }
  
.hamburgermenu img {
  height: 5rem;
  width: 5rem;
  display: block;
  }*/

  
nav li {
  visibility: hidden;
  display: none;
}

nav img {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 5rem;
  width: 5rem;
}

  input:checked + nav ul {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  
  input:checked + nav li {
    visibility: visible;
  }

    .articleImage {
    margin-top: 1em;
    border-radius: 1em;
    height: 40rem;
    width: 32rem;
    float: right;
  }
  
}
p a {
  text-decoration: none
}
.imageSource {
  margin-top: 1em;
  font-size: 0.5em;
  display: block;
  color: gray
}

.subtitle {
  font-size: 1.5em;
  font-weight: bolder;
}

.quote {
  font-style: italic;
  color: dimgray
}








/*Iphone / Mobile Port*/
@media only screen 
    and (max-device-width: 428px)  {

  .articleImage {
    display: none;
  }

  nav {
  background-color: WhiteSmoke;
  border-bottom: solid 1px;

  
}
nav ul {
    display: flex;
  flex-direction: row;
  justify-content: left;
}

nav .navButton {
  padding: 25px;
  border: solid 4px gray;
  border-radius: 3em;
}

nav a {
  color: gray;
  text-decoration: none
}
  
body {
  background-color: WhiteSmoke;
  font-family: "Roboto-Mono", monospace;
}

.NavBarLogo {
 float: left;
 height: 10em;
 width: 10em;
 margin-right: 3em;
}

.logo {
  margin-top: 2em;
  height: 20em;
  width: 20em;
}

header {
margin-bottom: 6em;
}
  
  header h1, header h2, .title {
  font-family: "Roboto Slab", monospace;
  margin-left: 2em;
  font-weight: bold;
}

  header h1
  {
    font-size: 4em;
  }

  header h2
  {
    font-size: 3em;
  }

  
.subtitle {
  font-size: 32px;
  font-weight: bolder;
}



section aside {
   border-radius: 1.5rem;
   padding: 1em;
   overflow-wrap: break-word;
   flex-grow: 0;
  flex-shrink: 0;
  max-width: 30%;
}

section p, aside p {
  font-size: 26px;
}

  ol li {
  font-size: 20px;  
  }
  
  section {
  display: flex;
  flex-direction: row;
  }
  
nav li {
  visibility: hidden;
  display: none;
}

nav img {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 5rem;
  width: 5rem;
}

  input:checked + nav ul {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  
  input:checked + nav li {
    visibility: visible;
  }

    .articleImageMobile {
    display: block;
    margin-top: 1em;
    border-radius: 1em;
    height: 60rem;
    width: 50rem;
    margin: 2em auto 0 auto;
  }
  
}
